[mcu btt_adxl345_1]
serial: /dev/serial/by-id/usb-Klipper_rp2040_45503571288F2C18-if00

#[adxl345]
#cs_pin: adxl:gpio1
#spi_bus: spi0a
#axes_map: x,z,y

[adxl345 head]
cs_pin: btt_adxl345_1:gpio9
#spi_bus: spi1a
spi_software_sclk_pin: btt_adxl345:gpio10
spi_software_mosi_pin: btt_adxl345:gpio11
spi_software_miso_pin: btt_adxl345:gpio8
axes_map: -x,-y,-z

[resonance_tester]
accel_chip_x: adxl345
probe_points: 117.5,117.5, 10   # Somewhere slightly above the middle of your print bed
max_smoothing: 0.150  #value in place from input shaping values

#[output_pin power_mode] # Improve power stability
#pin: adxl:gpio23