[adxl345 bed]
cs_pin: cm4:None

[adxl345 head]
cs_pin: PC15
#spi_bus: spi3_PC11_PC12_PC10
spi_software_sclk_pin: PC10
spi_software_mosi_pin: PC12
spi_software_miso_pin: PC11
#axes_map: -x,-y,-z

[resonance_tester]
accel_chip_x: adxl345 head
accel_chip_y: adxl345 bed
#accel_chip: adxl345
probe_points: 117.5,117.5, 30   # Somewhere slightly above the middle of your print bed
# max_smoothing: 0.150  #value in place from input shaping values
#accel_per_hz: 60