[neopixel bar_leds]
pin: PC7
chain_count: 16
color_order: GRB
initial_RED: 1.0
initial_GREEN: 1.0
initial_BLUE: 1.0


##########################
# LED Effects Animations #
##########################

# Outside LEDs only: 1,2,3,14,15,16
# Middle LEDs 4-13 are handled with SET_LED, not a running effect.

[led_effect bar_outside_busy]
autostart: false
frame_rate: 12
leds:
    neopixel:bar_leds (1,2,3,14,15,16)
layers:
    breathing 3 1 top (1.0, 0.0, 0.0)

[led_effect bar_outside_cleaning]
autostart: false
frame_rate: 12
leds:
    neopixel:bar_leds (1,2,3,14,15,16)
layers:
    breathing 3 1 top (0.0, 0.02, 0.5)

[led_effect bar_outside_calibrating_z]
autostart: false
frame_rate: 12
leds:
    neopixel:bar_leds (1,2,3,14,15,16)
layers:
    breathing 3 1 top (0.0, 0.0, 0.35)

[led_effect bar_outside_heating]
autostart: false
frame_rate: 12
leds:
    neopixel:bar_leds (1,2,3,14,15,16)
layers:
    comet 0.3 0 add (1.0, 0.18, 0.0)

[led_effect bar_outside_cooling]
autostart: false
frame_rate: 12
leds:
    neopixel:bar_leds (1,2,3,14,15,16)
layers:
    comet 0.3 0 add (0.0, 0.0, 1.0)

[led_effect bar_outside_homing]
autostart: false
frame_rate: 12
leds:
    neopixel:bar_leds (1,2,3,14,15,16)
layers:
    breathing 3 1 top (0.0, 0.6, 0.2)

[led_effect bar_outside_leveling]
autostart: false
frame_rate: 12
leds:
    neopixel:bar_leds (1,2,3,14,15,16)
layers:
    breathing 3 1 top (0.5, 0.1, 0.4)

[led_effect bar_outside_meshing]
autostart: false
frame_rate: 12
leds:
    neopixel:bar_leds (1,2,3,14,15,16)
layers:
    breathing 3 1 top (0.2, 1.0, 0.0)

[led_effect bar_outside_printing]
autostart: false
frame_rate: 12
leds:
    neopixel:bar_leds (1,2,3,14,15,16)
layers:
    gradient 0.3 1 add (0.3, 0.0, 0.0),(0.3, 0.3, 0.0),(0.3, 0.1, 0.0)

[led_effect bar_outside_ready]
autostart: false
frame_rate: 12
leds:
    neopixel:bar_leds (1,2,3,14,15,16)
layers:
    gradient 0.3 1 add (1.0, 0.0, 0.0),(0.0, 1.0, 0.0),(0.0, 0.0, 1.0)

[led_effect bar_outside_standby]
autostart: false
frame_rate: 12
leds:
    neopixel:bar_leds (1,2,3,14,15,16)
layers:
    breathing 3 1 top (0.01, 0.01, 0.01)

[led_effect bar_outside_part_ready]
autostart: false
frame_rate: 12
leds:
    neopixel:bar_leds (1,2,3,14,15,16)
layers:
    breathing 3 1 top (0.0, 1.0, 0.0)


#####################
# Critical Error    #
#####################

# Note:
# run_on_error needs patched MCU firmware and is currently noted as unsupported
# in the led_effect docs. Leave this callable manually instead of relying on it.

[led_effect bar_critical_error]
autostart: false
frame_rate: 12
leds:
    neopixel:bar_leds
layers:
    strobe    1 1.5 add        (1.0, 1.0, 1.0)
    breathing 2 0   difference (0.95, 0.0, 0.0)
    static    1 0   top        (1.0, 0.0, 0.0)


##############
# LED Helpers
##############

[gcode_macro _BAR_MIDDLE_WHITE]
gcode:
    {% for i in range(4, 14) %}
        SET_LED LED=bar_leds RED=1.0 GREEN=1.0 BLUE=1.0 INDEX={i} TRANSMIT={0 if not loop.last else 1} SYNC=0
    {% endfor %}

[gcode_macro _BAR_MIDDLE_OFF]
gcode:
    {% for i in range(4, 14) %}
        SET_LED LED=bar_leds RED=0.0 GREEN=0.0 BLUE=0.0 INDEX={i} TRANSMIT={0 if not loop.last else 1} SYNC=0
    {% endfor %}

[gcode_macro _BAR_OUTSIDE_OFF]
gcode:
    {% set outside = [1,2,3,14,15,16] %}
    {% for i in outside %}
        SET_LED LED=bar_leds RED=0.0 GREEN=0.0 BLUE=0.0 INDEX={i} TRANSMIT={0 if not loop.last else 1} SYNC=0
    {% endfor %}


##############
# The Macros #
##############

[gcode_macro status_off]
gcode:
    STOP_LED_EFFECTS
    _BAR_OUTSIDE_OFF
    _BAR_MIDDLE_OFF

[gcode_macro status_ready]
gcode:
    SET_LED_EFFECT EFFECT=bar_outside_ready REPLACE=1 RESTART=1
    _BAR_MIDDLE_WHITE

[gcode_macro status_part_ready]
gcode:
    SET_LED_EFFECT EFFECT=bar_outside_part_ready REPLACE=1 RESTART=1
    _BAR_MIDDLE_WHITE

[gcode_macro status_busy]
gcode:
    SET_LED_EFFECT EFFECT=bar_outside_busy REPLACE=1 RESTART=1
    _BAR_MIDDLE_WHITE

[gcode_macro status_heating]
gcode:
    SET_LED_EFFECT EFFECT=bar_outside_heating REPLACE=1 RESTART=1
    _BAR_MIDDLE_WHITE

[gcode_macro status_cooling]
gcode:
    SET_LED_EFFECT EFFECT=bar_outside_cooling REPLACE=1 RESTART=1
    _BAR_MIDDLE_WHITE

[gcode_macro status_leveling]
gcode:
    SET_LED_EFFECT EFFECT=bar_outside_leveling REPLACE=1 RESTART=1
    _BAR_MIDDLE_WHITE

[gcode_macro status_homing]
gcode:
    SET_LED_EFFECT EFFECT=bar_outside_homing REPLACE=1 RESTART=1
    _BAR_MIDDLE_WHITE

[gcode_macro status_cleaning]
gcode:
    SET_LED_EFFECT EFFECT=bar_outside_cleaning REPLACE=1 RESTART=1
    _BAR_MIDDLE_WHITE

[gcode_macro status_meshing]
gcode:
    SET_LED_EFFECT EFFECT=bar_outside_meshing REPLACE=1 RESTART=1
    _BAR_MIDDLE_WHITE

[gcode_macro status_calibrating_z]
gcode:
    SET_LED_EFFECT EFFECT=bar_outside_calibrating_z REPLACE=1 RESTART=1
    _BAR_MIDDLE_WHITE

[gcode_macro status_printing]
gcode:
    SET_LED_EFFECT EFFECT=bar_outside_printing REPLACE=1 RESTART=1
    _BAR_MIDDLE_WHITE

[gcode_macro status_critical_error]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=bar_critical_error REPLACE=1 RESTART=1


[delayed_gcode AUTO_READY_STATE]
initial_duration: 1
gcode:
    STATUS_READY